


#container{
    position: absolute;
    margin-top: 50px;
    margin-left:25%;
    margin-right: 25%;
    width: 1065px;
    height :1040px;
    background-image: url(../assets/background.jpg);

}

#background{
    position:absolute;
    width:465px;
    height:1040px;
    left:300px;
    right: 300px;
     background-image: url(assets/background.jpg);
    
    
    /* background-image: url("../img/resized_background.png"); */
}

#man{
    position:absolute;
    width: 465px;
    height:1040px;
    background-image: url(assets/top-base.png);
    background-size: cover;
    /* background-position: center; */
}

#shoes{
     position:absolute;
     width: 465px;
    height:1040px;
    
}

.bottom-1{
     position:absolute;
     width: 465px;
    height:1040px;
    background-image: url(assets/bottom-1.png);
    background-size: cover;
    
}

.bottom-2{
    position:absolute;
    width: 465px;
    height:1040px;
    background-image: url(assets/bottom-2.png);
    background-size: cover;
}

.bottom-3{
    position:absolute;
    width: 465px;
    height:1040px;
    background-image: url(assets/bottom-3.png);
    background-size: cover;
}

#mid{
    
     position:absolute;
     width: 465px;
     height:1040px;
    
    
}

.mid-1{
    
    position:absolute;
    width: 465px;
    height:1040px;
    background-image: url(assets/mid-1.png);
    background-size: cover;
}

.mid-2{
    
    position:absolute;
    width: 465px;
    height:1040px;
    background-image: url(assets/mid-2.png);
    background-size: cover;
}

.mid-3{
    
    position:absolute;
    width: 465px;
    height:1040px;
    background-image: url(assets/mid-3.png);
    background-size: cover;
}


#top{
     position:absolute;
     width: 465px;
     height:1040px;
    
}

.top-1{
    
    position:absolute;
    width: 465px;
    height:1040px;
    background-image: url(assets/top-1.png);
    background-size: cover;
    
}

.top-2{
    
    position:absolute;
    width: 465px;
    height:1040px;
    background-image: url(assets/top-2.png);
    background-size: cover;
}

.top-3{
    
    position:absolute;
    width: 465px;
    height:1040px;
    background-image: url(assets/top-3.png);
    background-size: cover;
}

#nexttop{
    position:absolute;
    right:50px;
    top:150px;
    
}

#nextmid{
    position:absolute;
    right:50px;
    top:400px;
}

#nextbottom{
    position:absolute;
    right:50px;
    top:750px;
}

#prevtop{
    position:absolute;
    left:50px;
    top:150px;
}

#prevmid{
    position:absolute;
    left:50px;
    top:400px;
}

#prevbottom {
    position:absolute;
    left:50px;
    top:750px;
}
