.body-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.doll-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doll-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

.doll-body {
    position: relative;
}

.left-button {
    width: 200px;
    height: auto;
}

.right-button {
    width: 200px;
    height: auto; 
}

#doll-top {
    height: 200px;
    width: 200px;
    background-color: #222222;
}

#doll-mid {
    height: 400px;
    width: 200px;
    background-color: #666666;
}

#doll-bottom {
    height: 200px;
    width: 200px;
    background-color: #AAAAAA;
}

.base {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #886666;
}

.rotation {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #668888;
}

.rotation-stack {
    position: relative;
    width: 100%;
    height: 100%;
}

.rotation-stack > div {
    position: absolute;
    width: 100%;
    height: 100%;

}

#top-1-img {
    background-color: aqua;
}

#top-2-img {
    background-color: red;
}

#top-3-img {
    background-color: green;
}

#mid-1-img {
    background-color: aqua;
}

#mid-2-img {
    background-color: red;
}

#mid-3-img {
    background-color: green;
}

#bottom-1-img {
    background-color: aqua;
}

#bottom-2-img {
    background-color: red;
}

#bottom-3-img {
    background-color: green;
}